body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculatorBody {
    display: grid;
    width: min(100vw, 25em);
    aspect-ratio: 1;
    grid-template-rows: 2fr 1fr 6fr;
    grid-template-columns: 4fr 1fr;
    gap: 0.25em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
}

.display {
    display: flex;
    max-width: inherit;
    border: 0.1em solid lightgray;
    background-color: lightcyan;
    justify-content: flex-end;
    height: 5em;
    grid-column: 1 / -1;
}
.display > * {
    margin: 0.75em;
    margin-bottom: 0.5em;
}

.functions {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row-reverse;
}

.numbers {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25em;
}
.numbers button:nth-last-child(2) {
    grid-column: span 2;
}
.numbers button:last-child {
    grid-column: 3 / -1;
}

.operators {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    box-sizing: border-box;
}
.operators button {
    flex: 1;
    background-color: #e4f2f7;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.operators button:last-child {
    flex: 2;
}
.operators button.highlight {
    font-weight: bold;
    border-color: blue;
    border-radius: 5px;
}